lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

pids
logs
results

coverage
npm-debug.log
node_modules
.idea
.tmp
.tmp_root

spikes

test/__testing

*.0
asdf.txt
todo.txt

# Errors from testing
firebase.json
superstatic.json
